# Config file for automatic testing at travis-ci.org

language: python

sudo: false

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  # TODO(asmacdo)
  # pypy is unable to install numpy and pandas. The test should either not
  # install pandas or it should install from the pypy repo.
  # - "pypy"

install:
    - travis_retry pip install -r dev-requirements.txt
    - travis_retry invoke plugin_requirements
    - travis_retry python mfr/cli.py install all
    - pip install .


script: python setup.py test
