mako==1.0.1
aiohttp==0.14.1
git+https://github.com/jmcarp/raven-python
furl==0.4.2
invoke==0.9.0
stevedore==1.2.0
tornado==4.0.2

#WaterButler
git+https://github.com/CenterForOpenScience/waterbutler.git@develop

# CodePygments
Pygments

# Docx
git+https://github.com/jsocol/bleach.git
pydocx

# Image
Pillow>=2.3.0

# Rst
Docutils>=0.11

# Tabular
pandas>=0.14.1
git+https://github.com/icereval/xlrd.git
