furl
jsonschema
ipython
mako


#CodePygments
Pygments

#Docx - is this necessary
git+https://github.com/jsocol/bleach.git
pydocx

#Rst
Docutils>=0.11

#Tabular
pandas>=0.14.1
git+https://github.com/icereval/xlrd.git



