aiohttp==3.10.6
chardet==2.3.0
furl==0.4.2
humanfriendly==2.1
invoke==2.2.0
mako==1.0.1
sentry-sdk==2.22.0
setuptools==78.1.0
stevedore==1.2.0
tornado==6.4.2

# WaterButler
git+https://github.com/CenterForOpenScience/waterbutler.git@feature/buff-worms
agent==0.1.2
google-auth==1.4.1

# CodePygments
Pygments==2.12.0

# Docx
#git+https://github.com/jsocol/bleach.git
pydocx==0.7.0

# Image
olefile==0.44
Pillow==11.0.0
psd-tools==1.4

# IPython
ipython==5.2.2
nbconvert==4.2.0
nbformat==4.1.0
traitlets==4.2.2
jsonschema==2.4.0
jinja2==2.10.1
mistune==0.8.1

# Pdf
reportlab==4.2.4

# Pptx
# python-pptx==0.5.7

# Rst
docutils==0.12

# Tabular
pandas==2.2.3
xlrd==1.0.0
h5py==3.13
scipy==1.14.1

# Md
markdown==2.6.2

certifi==2021.5.30
