<div class="mfr-ipynb-body">
{body}
</div>

<!-- TODO With current configuration, MathJax does not work. -->
<!-- <script type="text/javascript"> -->
<!--     (function() {{ -->
<!--     if (window.MathJax) {{ -->
<!--         // MathJax loaded -->
<!--         MathJax.Hub.Config({{ -->
<!--             tex2jax: {{ -->
<!--                 inlineMath: [ ['$','$'], ["\\(","\\)"] ], -->
<!--                 displayMath: [ ['$$','$$'], ["\\[","\\]"] ] -->
<!--             }}, -->
<!--             displayAlign: 'left', // Change this to 'center' to center equations. -->
<!--             "HTML-CSS": {{ -->
<!--                 styles: {{'.MathJax_Display': {{"margin": 0}}}} -->
<!--             }} -->
<!--         }}); -->
<!--         MathJax.Hub.Queue(["Typeset", MathJax.Hub]); -->
<!--     }} -->
<!-- }})(); -->
<!-- </script> -->

<!-- <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js"></script> -->
