{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <div>
        <h1>Welcome!</h1>
        <p>Below are files in the modular-file-renderer/player/files folder. Click-able links are those that the renderer can detect.</p>
        <ul>
            {% if files %}
                {% for filename, renderers, export_options in files %}
                    <li><span>Render {{ filename }} with:</span>
                        {%  for renderer in renderers %}
                            <div>
                                <a href="{{ url_for('render.render', filename=filename, renderer_name=renderer.name) }}">{{  renderer.name  }}</a>

{#                                {% if handler_dict[handler] %}#}
{#                                    <span> Export as:</span>#}
{#                                        <select onchange="location = this.options[this.selectedIndex].value;">#}
{#                                            <option>--Select format---</option>#}
{#                                            {% for exporter in handler_dict[handler] %}#}
{#                                                <option value={{ url_for('render.export_with', exporter=exporter, handler_name=handler.name, filename=filename) }}>{{ exporter }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
{#                                {%  endif %}#}
{#                            #}

                            </div>
                        {%  endfor %}
                        <span> Export as:</span>
                        <select onchange="location = this.options[this.selectedIndex].value;">
                            <option>--Select format---</option>
                            {% for option in export_options %}
                                <option value={{ url_for('render.export', export_file_type=option[0], exporter_name=option[1], filename=filename) }}>{{ option[0] }} using {{  option[1] }}</option>
                            {% endfor %}
                        </select>
                    </li>a
{#                    {% endif %}#}
                    <div>Let us choose the renderer:</div>
                    <a href="{{ url_for('render.render', filename=filename) }}">A Renderer</a>
                {% endfor %}
            {% else %}
                <li>No files found. Perhaps try adding some?</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}