<!DOCTYPE html>

<input type="button" id="save" value="Save"/>


<html lang="en">
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 100;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>

<div id="editor"></div>
<script src="/static/text/js/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
<script>

</script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
    editor.getSession().setMode("ace/mode/{{ syntax }}");
    editor.setValue("{{ editor_content }}")
      $(document).ready(function() {
            $('#save').click(function() {
            var content = editor.getValue();
             $.ajax({
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(content),
            dataType: 'json',
            url: '/edit/save/'+ document.URL.split("edit/").pop(),
            success: function (e) {
                console.log('e');
    }
});
           });
      });

</script>

