<link rel="stylesheet" href="{base}/css/slick.grid.css">
<link rel="stylesheet" href="{base}/css/slick-default-theme.css">
<link rel="stylesheet" href="{base}/css/examples.css">
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{base}/js/jquery.event.drag-2.2.js"></script>
<script src="{base}/js/slick.core.js"></script>
<script src="{base}/js/slick.grid.js"></script>


<div id="mfrGrid" style="width: {width}px; height: {height}px;"></div>

<script>
$().ready(function () {{
    // Workaround allows the slickgrid css to load ahead of the grid object.
    // Specifically using setInterval rather than setTimeout allows this to work
    // on the first dynamic injection/render of the grid.
    function loadGrid() {{
        var columns = {columns};
        var rows = {rows};
        var options = {options};
        var grid = new Slick.Grid("#mfrGrid", rows, columns, options);
        clearInterval(timer);
    }}

    var timer = setInterval(loadGrid, 0);
}});
</script>
