<div id="mfrGrid" style="width: {width}px; height: {height}px;"></div>

<script>
$().ready(function () {{
    // Workaround allows the slickgrid css to load ahead of the grid object.
    // Specifically using setInterval rather than setTimeout allows this to work
    // on the first dynamic injection/render of the grid.
    function loadGrid() {{
        var columns = {columns};
        var rows = {rows};
        var options = {options};
        var grid = new Slick.Grid("#mfrGrid", rows, columns, options);
        clearInterval(timer);
    }}

    var timer = setInterval(loadGrid, 0);
}});
</script>
