<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}MFR Player{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
    </head>
    <body>
        <div class="box">
            {% block content %}
                {% block messages %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <div class="messages">
                            {% for category, msg in messages %}
                            <p class="message flash-{{ category }}">{{ msg }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                {% endblock %}
            {% endblock%}
        </div>
    </body>
</html>
