<canvas id="mfrViewer" style="border: 1px solid;" width="auto" height="400" ></canvas>
<script type="text/javascript">
  var canvas = document.getElementById('mfrViewer');
  var viewer = new JSC3D.Viewer(canvas);
  viewer.setParameter('SceneUrl', '{jsc3d_file}');
  viewer.setParameter('InitRotationX', 0);
  viewer.setParameter('InitRotationY', 0);
  viewer.setParameter('InitRotationZ', 0);
  viewer.setParameter('ModelColor',       '#CAA618');
  viewer.setParameter('BackgroundColor1', '#FFFFFF');
  viewer.setParameter('BackgroundColor2', '#999999');
  viewer.setParameter('RenderMode', 'texturesmooth');
  viewer.setParameter('MipMapping', 'on');
  viewer.setParameter('Renderer', 'webgl');
  viewer.setParameter('Definition', 'high');
  viewer.init();
  viewer.update();
</script>
